/* task 10: choose 2-4 colors for your theme and add them as font or background colors*/

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color:purple;
}

/* task 11: add flexbox to the div with a class named navBar.*/

.navBar {
  display:flex;
  justify-content:space-around;
}
a:hover { color: #00FF00;
}
/* CSS link hover (green) */
/* task 12: style your nav bar so the links change color/style when your hover over them.*/


/* task 13: add at least 1 Google Font - either for the headers or paragraphs. Or both! Also, make sure it's linked in the html pages you want it used on!*/


a {
  color: #0080ff;
}


/* task 14: add a border to the images.*/
.companies {
  display: flex;
  justify-content: space-around;
}

.home {
  text-align: center;
}
.about {
  text-align: center;
}
ul {
  display:inline-block;
}
ol {
  display:inline-block;
}

.student {
  border: 1px solid white;
  width: 300px;
  text-align: center;
}

.student img {
  width: 200px;
}

.students{
  display: flex;
  justify-content: space-around;
}

h1 {
  color: #fee975;
}

img {
  width: 400px;
  border: 5px solid white;
}

.about {
  font-family: 'Silkscreen', cursive;
}